body{
    font-family: sans-serif;
    margin: 6rem;
    padding: 4rem;
    border: 5px hotpink dashed;
    border-radius: 4rem;
}
body{
    background-color: lightgray;
}
.roman-list{
    list-style: upper-roman;
}
.roman-list ul{
    list-style: square;
}

li:hover{
    color: red;
}

p:hover{
    background-color: green;
    color: white;
}